@font-face {
  font-family: "Graphik-Medium";
  src: url("../fonts/Graphik-Medium.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("../fonts/Graphik-Regular.woff");
}

@font-face {
  font-family: "Thein";
  src: url("../fonts/Theinhardt-Lt.woff");
}

@font-face {
  font-family: "Tiempo";
  src: url("../fonts/TiemposHeadline-Semibold.woff");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

:root {
  --basic-col: #2b2c2e;
  --nav-btn: #3d3e41;
  --light-gray: #9fa2a7;
  --space-l-r: 0 5vw;
  --bg-gray: #f1f1f4;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--basic-col);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--basic-col);
}

.h2_main {
  font-size: 2em;
  font-weight: lighter;
  font-family: "Regular";
}

h3 {
  font-size: 3em;
}

.p_main {
  font-size: 2em;
  margin-bottom: 2rem;
}

.gray {
  color: var(--light-gray);
  line-height: 3rem;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  /* font-family: "Graphik-Medium"; */
  font-family: "Inter";
}

img {
  width: 100%;
}

/* # header */

h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: var(--space-l-r);
  margin-top: 17px;
  margin-bottom: 30px;
}

.nav-links {
  display: flex;
  gap: 10%;
}

.hero-btn {
  color: var(--light-gray);
  border: 1px solid var(--nav-btn);
  border-radius: 2px;
  font-size: 1.7rem;
  background-color: white;
  width: 400px;
  height: 3rem;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #444749;
  color: white;
  transition: 0.2s ease;
}

/* #Main Section 1 */

section {
  margin-bottom: 100px;
}

.h2_first {
  text-align: center;
}

.first-sec-text {
  display: flex;
  width: 70%;
  margin: var(--space-l-r);
  gap: 10%;
  margin-bottom: 150px;
}

.line-height-P1 {
  /* font-size: 2.1rem;
  color: var(--basic-col);
  font-family: "Regular"; */
  line-height: 3rem;
}

.first-sec-text div p {
  color: var(--light-gray);
}

/* # second main  */
.sec-sec {
  display: flex;
  position: relative;
  margin: var(--space-l-r);
  margin-bottom: 150px;
  flex-direction: column;
}

.sec-sec img {
  position: relative;
  width: 50%;
}

.sec-sec-text {
  z-index: 1;
  margin-left: 48%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

.sec-sec-text h3 {
  margin-bottom: 60px;
}

.sec-sec-text h2 {
  margin-bottom: 20px;
}

/* #How It Works */

.howitworks {
  display: flex;
  margin: var(--space-l-r);
  background-color: var(--bg-gray);
  justify-content: space-between;
  margin-bottom: 130px;
}

.howitworks img {
  width: 50%;
  height: 50%;
  position: relative;
}

.HIW-text-style {
  padding: 55px;
}

.howitworks h3,
.howitworks p {
  padding: 20px;
}

.text-style-hiw {
  position: relative;
  left: 6rem;
}

/* #Critique  */

.critique {
  /* border: 2px solid pink; */
  text-align: center;
  margin-bottom: 130px;
}

.critique h2 {
  margin-bottom: 40px;
  font-size: 5rem;
  font-weight: 900;
}

/* # Rollerguy */

.rollerGuy {
  margin: var(--space-l-r);
  border-bottom: #3d3e41 1px solid;
  margin-bottom: 10rem;
}

.rollerGuy-text img {
  width: 50%;
  height: 50%;
  position: relative;
  top: -80px;
  left: -85px;
}

.rollerGuy-text {
  display: flex;
  flex-direction: row-reverse;
}

.rollerGuy-text article {
  /* margin-top: 5rem; */
  position: relative;
  top: 4rem;
  left: 3rem;
  z-index: 2;
}

/* # Footer */
.costumeGuy-sec {
  text-align: center;
}

.costumeGuy-sec h2 {
  font-size: 4.8rem;
  margin-bottom: 4.3rem;
}

.costumeGuy-sec article {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: end;
}

.costumeGuy-sec article p {
  position: relative;
  font-size: 1.6rem;
}

.costumeGuy-sec img {
  width: 10%;
}

.costumeGuy-sec article a {
  font-weight: 900;
}


@media screen and (max-width: 900px) {
  h1 {
    position: relative;
    top: 30px;
    width: 100%;
    transform: translate(-50px);
  }

  .sec-sec div img {
    width: 100%;
  }
  
  .sec-sec-text {
    z-index: 1;
    margin-left: 0;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  
  
}

